.foodListBox {
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 10px 10px 10px 10px #383838;
  border-radius: 10px;
  margin-bottom: 20px;
}
.food-upper {
  height: 70px;
  background-color: rgb(72, 15, 126);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-color: transparent;
  border-radius: 10px 10px 0px 0px;
  margin-top: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.placeorder {
  height: 30px;
  width: 100px;
  background-color: green;
  color: rgb(245, 245, 176);
  transition: 0.4s;
  border-radius: 10px;
  border-color: transparent;
}
.placeorder:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1px 1px #fff, 0 0 1px 1px #f0f, 0 0 1px 1px #0ff;
  color: white;
}
.food-lower {
  margin-top: -5px;
  background-color: rgb(182, 182, 228);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.food-des {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  box-shadow: 0px 0px 10px 0px #e67db1;
  margin: 10px 150px 20px 150px;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px #8b8b8b;
}
.food-left {
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px #e67db1;
}
.food-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
.up-portion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.up-portion input {
  width: 20px;
  height: 20px;
  text-align: center;
}

.addremove {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.up-portion h2 {
  margin-left: 20px;
  font-weight: bold;
}
.plus {
  width: 30px;
  height: 30px;
  background-color: rgb(27, 63, 27);
  border-radius: 50%;
  margin: 5px;
  border: none;
  font-weight: bold;
  font-size: 108%;
  color: white;
}
.minus {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  margin: 5px;
  border: none;
  font-weight: bold;
  font-size: 115%;
  color: white;
}
.down-portion {
  margin-left: 20px;
  margin-right: 10px;
}
.Delete {
  margin-right: 20px;
}
.Delete button {
  background-color: rgb(121, 29, 29);
  border-radius: 5px;
  height: 30px;
  border-color: transparent;
  color: white;
}
.info {
  font-weight: bold;
  height: 70px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(117, 63, 117);
  background-color: rgb(223, 156, 240);
  border-radius: 10px;
}
.amount {
  background-color: rgb(230, 167, 50);
  height: 40px;
  width: 150px;
  color: rgb(56, 7, 119);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #fff, 0 0 2px 2px #f0f, 0 0 2px 2px #0ff;
}
.amount span {
  margin-left: 2px;
  font-size: 150%;
  font-weight: bold;
}
